.header-link{
  cursor: pointer;
}
.header-link:hover{
  color:black;
}
.exhibits,
.exhibits1 {
  height: 2px;
  width: 797px;
  bottom: -7522px;
  border-top: 2px solid var(--color-gray-100);
  box-sizing: border-box;
}
.exhibits {
  position: absolute;
  margin: 0 !important;
  left: 48px;
  z-index: 1;
}
.exhibits1 {
  right: 46px;
}
.discover-other-exhibits1,
.exhibits1,
.exhibits2 {
  position: absolute;
  margin: 0 !important;
  z-index: 1;
}
.discover-other-exhibits1 {
  /* display: block; */
  /* padding: 200px; */
  font-size: var(--font-size-21xl);
  /* margin-top: 0.83em;
  margin-bottom: 0.83em; */
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  text-align: left;
  width: 1086px;
  /* bottom: -5718px; */
  left: 48px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  /* display: inline-block; */
}
.exhibits2 {
  height: 2px;
  width: 1826px;
  bottom: -5612px;
  left: calc(50% - 912px);
  border-top: 2px solid var(--color-gray-100);
  box-sizing: border-box;
}
.landing-child {
  height: 1349px;
  width: 1186px;
  position: relative;
  background-color: var(--color-gray-400);
  display: none;
  max-width: 100%;
  z-index: 4;
}
.all-of-ms,
.originally-from-oklahoma,
.she-now-directs {
  margin: 0;
}
.heidi-descriptor{
  display: flex;
}
.heidi-descriptor-half{
  width: 50%;
  flex: 1;
  /* margin: 5px; */
}
.originally-from-oklahoma-container {
  /* width: 800px; */
  position: relative;
  margin: 0 !important;
  font-size: var(--font-size-11xl);
  line-height: 50px;
  color: var(--color-gray-300);
  text-align: left;
  display: inline-block;
  z-index: 1;
  padding: 10px;
}
.photo-image {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mid);
  background-color: var(--color-gray-400);
  width: 100%;
  height: 100%;
}
.image-10-icon,
.photo {
  position: relative;
  z-index: 1;
}
.image-10-icon {
  top: 0;
  left: 0;
  border-radius: var(--br-mid);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.photo {
  height: auto;
  width: 702px;
  margin: 0 !important;
  display: inline-block;
  /* bottom: -4870px; */
  /* left: 48px; */
}
.heidi-hardin {
  /* bottom: -4165px; */
  /* left: 48px; */
  font-size: var(--font-size-81xl);
  font-weight: 400;
  font-family: var(--font-cormorant-sc);
  text-align: left;
  z-index: 1;
}
.background4,
.heidi-hardin,
.meet-the-artist {
  position: relative;
  margin: 0 !important;
}
.meet-the-artist {
  text-align: left;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  color: var(--color-gray-100);
  z-index: 2;
}
#heidi-text-box{
  width: 100%;
  height: 65%;
  position: relative;
  overflow-y: auto;
  text-align: center;
  vertical-align: middle;
  padding-top: 50px;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: var(--br-xl);
  background-color: var(--color-gray-200);
  border: 1px solid #9ecee1;
  box-sizing: border-box;
  font-size: 25px;
  resize: none;
  line-height: 25px;
}
.background4 {
  width: 100%;
  height: 8892px;
  right: 0;
  bottom: -7812px;
  left: 0;
  background-color: var(--color-white);
}
.header-1-inner {
  height: 60px;
  width: 1920px;
  position: relative;
  background-color: var(--color-deepskyblue);
  display: none;
  max-width: 100%;
}
.icon2 {
  height: 32px;
  width: 32px;
  position: relative;
  object-fit: cover;
  min-height: 32px;
  z-index: 1;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}
.icon2:hover{
  filter: invert(100%);
}
.social {
  width: 283px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-32xl-7);
}
.search-inner {
  height: 32px;
  width: 333px;
  position: relative;
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.search-icon2,
.search5 {
  position: relative;
  z-index: 1;
}
.search5 {
  display: inline-block;
  min-width: 60px;
}
.search-icon2 {
  height: 24px;
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.search4 {
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-214xl);
  max-width: 100%;
  z-index: 1;
}
.header-12,
.header-2-child1 {
  align-self: stretch;
  max-width: 100%;
}
.header-12 {
  background-color: var(--color-deepskyblue);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-sm) var(--padding-29xl) var(--padding-sm)
    var(--padding-39xl);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  /* position: sticky; */
  gap: var(--gap-xl);
}
.header-2-child1 {
  width: 1920px;
  position: relative;
  background-color: var(--color-white);
  display: none;
}
.image-8-icon2 {
  height: 120px;
  width: 305px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.give-help {
  align-self: stretch;
  position: relative;
  font-weight: 600;
  z-index: 1;
  width: 266px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-indigo-100);
  padding: var(--padding-29xl) 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-base);
}
.shop-art2 {
  display: inline-block;
  min-width: 77px;
}
.shop-art2,
.think-round-fine2 {
  position: relative;
  z-index: 1;
  color: var(--color-indigo-100);
}
.about2,
.blog2,
.events2,
.programs2,
.visions2 {
  position: relative;
  display: inline-block;
  min-width: 64px;
  z-index: 1;
  color: var(--color-indigo-100);
}
.programs2 {
  min-width: 85px;
}
.events2 {
  min-width: 60px;
}
.about2{
  min-width: 55px;
}
.blog2 {
  min-width: 40px;
}
.header-22,
.links,
.navigation {
  display: flex;
  align-items: flex-start;
}
.links {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.header-22,
.navigation {
  box-sizing: border-box;
  max-width: 100%;
}
.navigation {
  /* width: 764px; */
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-29xl) 0 0;
}
.header-22 {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--color-white);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-29xl);
  gap: var(--gap-xl);
  z-index: 2;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-lato);
}
.container5 {
  width: 1920px;
  height: 900px;
  position: relative;
  background-color: var(--color-pink);
  display: none;
  max-width: 100%;
}
.image-9-icon1 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.across-culture-religion-container1,
.the-human-family2 {
  /* position: absolute; */
  margin: 0 !important;
  font-weight: 500;
  font-family: var(--font-cormorant-infant);
  text-align: left;
  z-index: 1;
}
.across-culture-religion-container1 {
  /* width: 888px; */
  height: 395px;
  right: -662px;
  bottom: -108px;
  color: rgba(0, 0, 0, 0.9);
  display: inline-block;
}
.paradise1,
.project1,
.the1 {
  margin: 0;
  position: relative;
  letter-spacing: 0.3em;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
  width: 100%;
  /* resize: horizontal; */
}
.paradise1,
.project1{
  font-size: 6vw;
}
.the1 {
  font-size: 3vw;
}
.button-layout-child,
.paradise-info {
  position: relative;
  box-sizing: border-box;
}
.paradise-info {
  /* width: 1162px; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-29xl) var(--padding-127xl) var(--padding-189xl);
  max-width: 100%;
}
.button-layout-child {
  align-self: stretch;
  height: 2px;
  border-top: 2px solid var(--color-gray-100);
}
.button-layout {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xl) 0 0;
  box-sizing: border-box;
  min-width: 504px;
  max-width: 100%;
}
.enter-paradise1 {
  position: relative;
  font-weight: 500;
}
.keyboard-arrow-icon2 {
  height: 42px;
  width: 42px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button21,
.keyboard-arrow-frame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.keyboard-arrow-frame {
  flex-direction: row;
  padding: 0 var(--padding-48xl) 0 var(--padding-47xl);
}
.button21 {
  flex-direction: column;
  cursor: pointer;
}
.button-layout-item {
  align-self: stretch;
  height: 2px;
  position: relative;
  border-top: 2px solid var(--color-gray-100);
  box-sizing: border-box;
}
.button-layout1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xl) 0 0;
  box-sizing: border-box;
  min-width: 504px;
  max-width: 100%;
}
.buttons {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-29xl);
  font-family: var(--font-cormorant-infant);
}
.buttons,
.container4,
.hero,
.hero-section1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.hero-section1 {
  flex: 1;
  flex-direction: column;
  padding: 0 var(--padding-12xs) 0 0;
  box-sizing: border-box;
  /* gap: var(--gap-196xl); */
  z-index: 1;
}
.container4,
.hero {
  align-self: stretch;
}
.hero {
  flex-direction: row;
  padding: 0 var(--padding-29xl);
  box-sizing: border-box;
  font-size: var(--font-size-11xl);
  font-family: var(--font-cormorant-sc);
}
.container4 {
  flex-direction: column;
  flex-shrink: 0;
  debug_commit: 1de1738;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-lato);
}
.presenting-the-families5 {
  align-self: stretch;
  position: relative;
}
#christians-family-text {
  position: relative;
}
.artist,
.changing-text-christians1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-25xl) 0 var(--padding-26xl);
}
.changing-text-christians1,
.changing-text {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  color: var(--color-black);
  white-space: nowrap;
  overflow: hidden;
}
.artist {
  padding: 0 var(--padding-15xl);
  color: var(--color-black);
}
.detail-layouts,
.families5 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.families5 {
  /* width: 342px; */
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  z-index: 1;
}
.detail-layouts {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.view-artist-statement {
  position: relative;
  flex-shrink: 0;
  debug_commit: 1de1738;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}
.button-view-artist-statement,
.text15 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.text15 {
  padding: 0;
}
.button-view-artist-statement {
  height: 44px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-indigo-100);
  box-sizing: border-box;
  padding: var(--padding-10xs) var(--padding-sm);
}
.button-view-artist-statement :hover{
  color:black;
}
.explore5 {
  cursor: pointer;
  position: relative;
  display: inline-block;
  min-width: 102px;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.explore-container,
.text16 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.text16 {
  flex-direction: row;
  padding: 0;
}
.explore-container {
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
}
.arrow-icon11 {
  height: 42px;
  width: 42px;
  position: relative;
}
.button-explore,
.buttons1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-explore {
  height: 44px;
  border-radius: var(--br-8xs);
  background-color: var(--color-indigo-100);
  border: 1px solid var(--color-indigo-100);
  box-sizing: border-box;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-sm);
  color: var(--color-white);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
  cursor: pointer;
}
.buttons1 {
  height: 42px;
  gap: var(--gap-31xl);
  z-index: 1;
  color: var(--color-indigo-100);
}
.category-details,
.detail-layouts-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.detail-layouts-parent {
  width: 524px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-141xl);
}
.category-details {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  font-size: var(--font-size-11xl);
  color: var(--color-gray-300);
}
.category-container,
.category-layout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.category-container {
  align-self: stretch;
  gap: var(--gap-124xl);
}
.category-layout {
  width: 910px;
  padding: var(--padding-5xl) 0 0;
  box-sizing: border-box;
  min-width: 910px;
}
.category-images {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
}
.blurb-text{
  padding: 50px;
  position: relative;
  flex-wrap: wrap;
  display: flex;
  height: 400px; /* set a fixed height for the div */
  /* overflow-y: scroll; enable vertical scrollbar */
  overflow-x: hidden;
  width: 100%;
  left: 0px;
  text-align: left;
  z-index: 0;
}
.close-button{
  position: absolute;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  height: 21px;
  width: 21px;
  top: 8px;
  right: 16px;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}
.blurb-borders {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
}
.presenting-the-families6 {
  /* width: 342px; */
  position: relative;
  display: inline-block;
}
.presenting-the-families-of-wrapper3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-11xs) 0 var(--padding-10xs);
}
#jews-family-text {
  width: 347px;
  position: relative;
  display: inline-block;
}
.changing-text-jews1,
.families6 {
  display: flex;
  justify-content: flex-start;
}
.changing-text-jews1 {
  flex-direction: row;
  align-items: flex-start;
  color: var(--color-black);
}
.families6 {
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-5xl);
  max-width: 100%;
  z-index: 1;
}
.families-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-mid);
  box-sizing: border-box;
  max-width: 100%;
  color: var(--color-gray-300);
}
.text17 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
}
.explore6 {
  position: relative;
  display: inline-block;
  min-width: 102px;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.explore-layout,
.text18 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.text18 {
  flex-direction: row;
  padding: 0;
}
.explore-layout {
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
}
.buttons2,
.statement-explore {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.buttons2,
.statement-explore {
  max-width: 100%;
}
.buttons2 {
  height: 42px;
  justify-content: flex-start;
  gap: var(--gap-31xl);
  z-index: 1;
}
.statement-explore {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
  box-sizing: border-box;
  color: var(--color-indigo-100);
}
.overhaul-box,
.title-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.title-parent {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-124xl);
}
.overhaul-box {
  /* flex: 1; */
  align-items: flex-start;
  padding: var(--padding-5xl) 0 0;
  box-sizing: border-box;
  width: 100%;
}
.family-box {
  position: relative;
  max-width: 100%;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  /* padding: var(--padding-6xl) var(--padding-74xl) var(--padding-6xl)
    var(--padding-119xl);
  gap: 137px; */
  flex-wrap: wrap;
  padding-right: var(--padding-27xl);
  box-sizing: border-box;
  /* gap: 68px; */
  padding-left: var(--padding-50xl);
  /* gap: var(--gap-15xl); */
  padding: var(--padding-xl) var(--padding-4xl) var(--padding-xl)
    var(--padding-15xl);
  gap: var(--gap-mid);
}
.blurb-box{
  position: relative;
  max-width: 100%;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xl) var(--padding-74xl) var(--padding-6xl) 151px;
  box-sizing: border-box;
  flex-wrap: wrap;
  padding-right: var(--padding-27xl);
  padding-left: 75px;
  /* gap: var(--gap-19xl); */
  padding: var(--padding-xl) var(--padding-4xl) var(--padding-xl) 37px;
  gap: 19px;
  display: none;
  transition: 0.5s;
  overflow: hidden;
  border-radius: var(--br-xl);
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-gray-100);
}
.family-box-borders {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
}
.presenting-the-families7 {
  width: 342px;
  position: relative;
  display: inline-block;
}
.presenting-the-families-of-wrapper4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-11xs) 0 var(--padding-10xs);
}
#muslims-family-text {
  position: relative;
}
.families7 {
  width: 347px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
  z-index: 1;
}
.families-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-2xl) var(--padding-mid) var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  color: var(--color-gray-300);
}
.text19 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.explore7 {
  position: relative;
  display: inline-block;
  min-width: 102px;
  flex-shrink: 0;
  debug_commit: 1de1738;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}
.text-wrapper10,
.text20 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.text20 {
  flex-direction: row;
  padding: 0;
}
.text-wrapper10 {
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
}
.buttons3 {
  flex-direction: row;
  justify-content: flex-start;
}
.buttons3 {
  height: 42px;
  gap: var(--gap-31xl);
  z-index: 1;
}
.buttons-wrapper,
.buttons3,
.inner-family-box,
.title-group {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.buttons-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  color: var(--color-indigo-100);
}
.inner-family-box,
.title-group {
  flex-direction: column;
  justify-content: flex-start;
}
.title-group {
  align-self: stretch;
  gap: var(--gap-124xl);
}
.inner-family-box {
  flex: 1;
  padding: var(--padding-5xl) 0 0;
  box-sizing: border-box;
  min-width: 490px;
}
.part-iv-family {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.title9 {
  margin: 0 auto;
  /* display: flex;
  flex-direction: row; */
  align-items: center;
  justify-content: center;
  z-index: 1;
  font-size: var(--font-size-31xl);
}
.presenting-the-families8 {
  width: 342px;
  position: relative;
  display: inline-block;
}
.presenting-the-families-of-wrapper5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-11xs) 0 var(--padding-10xs);
}
#hindusSikhs-family-text {
  position: relative;
}
.changing-text-hindus-sikhs1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  color: var(--color-black);
}
.families8 {
  width: 347px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
  z-index: 1;
}
.families-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-mid);
  box-sizing: border-box;
  max-width: 100%;
  color: var(--color-gray-300);
}
.explore8 {
  position: relative;
  display: inline-block;
  min-width: 102px;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.text-wrapper11,
.text22 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.text22 {
  flex-direction: row;
  padding: 0;
}
.text-wrapper11 {
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
}
.button-explore3,
.buttons-container,
.buttons4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.button-return {
  /* position: absolute;
  top: calc(50% - 21px);
  left: calc(50% - 786.5px); */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-sm) 0 0;
  z-index: 5;
  cursor: pointer;
  }
.button-explore3 {
  height: 44px;
  border-radius: var(--br-8xs);
  background-color: var(--color-indigo-100);
  border: 1px solid var(--color-indigo-100);
  box-sizing: border-box;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-sm);
  color: var(--color-white);
}
.buttons-container,
.buttons4 {
  max-width: 100%;
}
.buttons4 {
  height: 42px;
  justify-content: flex-start;
  gap: var(--gap-31xl);
  z-index: 1;
}
.buttons-container {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
  box-sizing: border-box;
  color: var(--color-indigo-100);
}
.hindus-sikhs-inner1,
.title-parent1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.title-parent1 {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-124xl);
}
.hindus-sikhs-inner1 {
  width: 871px;
  align-items: flex-start;
  padding: var(--padding-5xl) 0 0;
  box-sizing: border-box;
  min-width: 871px;
}
.sideImage {
  width: 702px;
  /* position: relative; */
  border-radius: var(--br-mid);
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
  z-index: 1;
}
.indigenous-coming-soon-item {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
}
.indigenous1,
.part-v-first {
  margin: 0;
}
.part-v-first-container {
  margin: 0;
  height: 120px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
}
.title10 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.presenting-the-families9 {
  width: 342px;
  position: relative;
  display: inline-block;
}
.families-intro {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-11xs) 0 var(--padding-10xs);
}
#indigenous-family-text {
  position: relative;
}
.changing-text-indigenous1,
.families9 {
  display: flex;
  justify-content: flex-start;
}
.changing-text-indigenous1 {
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-44xl) 0 var(--padding-45xl);
  color: var(--color-black);
}
.families9 {
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-5xl);
  max-width: 100%;
  z-index: 1;
}
.families-wrapper1,
.title-parent2 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.families-wrapper1 {
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  font-size: var(--font-size-11xl);
  color: var(--color-gray-300);
}
.title-parent2 {
  flex-direction: column;
  justify-content: center;
  gap: 83px;
}
.button-wrapper12,
.button22,
.text23 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.text23 {
  justify-content: flex-start;
}
.button-wrapper12,
.button22 {
  box-sizing: border-box;
  max-width: 100%;
}
.button22 {
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-sm);
  z-index: 1;
}
.button-wrapper12 {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl);
  font-size: var(--font-size-11xl);
}
.indigenous-coming-soon-inner1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.indigenous-coming-soon-inner1 {
  flex: 1;
  padding: var(--padding-5xl) 0 0;
  box-sizing: border-box;
  min-width: 489px;
}
.view-all-item {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
}
.view-all3 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  flex-shrink: 0;
  debug_commit: 1de1738;
  white-space: nowrap;
}
.view-all3{
  font-size: var(--font-size-21xl);
}
.title-wrapper4,
.title11 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.title11 {
  justify-content: flex-start;
  padding: 0;
  z-index: 1;
}
.title-wrapper4 {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl);
  font-size: var(--font-size-31xl);
}
.featuring1 {
  position: relative;
}
.featuring-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-5xl);
}
.installations1 {
  position: relative;
}
.changing-text-view-all1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  color: var(--color-black);
}
.key-information-wrapper,
.key-information2 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.key-information2 {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-5xl);
  z-index: 1;
}
.key-information-wrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 var(--padding-mid);
  box-sizing: border-box;
  color: var(--color-gray-300);
}
.text-wrapper12,
.text24 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.text24 {
  flex-direction: row;
  padding: 0;
}
.text-wrapper12 {
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
}
.arrow-icon15 {
  height: 42px;
  width: 42px;
  position: relative;
}
.button-explore4 {
  height: 44px;
  border-radius: var(--br-8xs);
  background-color: var(--color-indigo-100);
  border: 1px solid var(--color-indigo-100);
  box-sizing: border-box;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-sm);
}
.button-explore4,
.buttons-frame,
.buttons5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.buttons5 {
  height: 42px;
  justify-content: flex-start;
  z-index: 1;
}
.buttons-frame {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
  color: var(--color-white);
}
.frame-parent8,
.view-all-inner1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent8 {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-124xl);
}
.view-all-inner1 {
  width: 500px;
  align-items: flex-start;
  padding: var(--padding-5xl) 0 0;
  box-sizing: border-box;
  min-width: 500px;
}
.paintings-item {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-mid);
  background-color: var(--color-gainsboro);
}
.christians-6b3 {
  flex: 1;
  position: relative;
  border-radius: var(--br-mid) 0 0 0;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  min-width: 228px;
  min-height: 275px;
  z-index: 1;
}
.christians-6b3,
.image-layout,
.jews-2d3 {
  align-self: stretch;
  max-width: 100%;
}
.jews-2d3 {
  flex: 1;
  position: relative;
  border-radius: 0 var(--br-mid) 0 0;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  min-width: 228px;
  min-height: 275px;
  z-index: 1;
}
.image-layout {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 20px;
}
.muslims-2b3 {
  flex: 1;
  position: relative;
  border-radius: 0 0 0 var(--br-mid);
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  min-width: 228px;
  min-height: 275px;
  z-index: 1;
}
.hindus-2c3,
.muslim-image,
.muslims-2b3 {
  align-self: stretch;
  max-width: 100%;
}
.hindus-2c3 {
  flex: 1;
  position: relative;
  border-radius: 0 0 var(--br-mid) 0;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  min-width: 228px;
  min-height: 275px;
  z-index: 1;
}
.muslim-image {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 20px;
}
.paintings1 {
  width: 702px;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  min-width: 702px;
  z-index: 1;
}
.gallery1,
.paintings1{
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.gallery1 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-29xl);
  flex-shrink: 0;
  debug_commit: 1de1738;
  z-index: 1;
}
.gallery-container,
.image-2-icon1 {
  align-self: stretch;
  max-width: 100%;
  flex-shrink: 0;
}
.gallery-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-29xl) 200px;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-lato);
  border-radius: var(--br-xl);
  background-color: var(--color-gray-200);
  /* border: 1px solid var(--color-gray-100); */
}
.image-2-icon1 {
  height: 576px;
  position: relative;
  border-radius: var(--br-xl);
  overflow: hidden;
  object-fit: cover;
}
.yosemite-suit1 {
  width: 399px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.exhibit-titles-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
}
.text25,
.view-buttons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.text25 {
  flex-direction: row;
  padding: 0;
}
.view-buttons {
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
}
.exhibit-12{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-29xl);
  max-width: 100%;
}
.image-3-icon1 {
  align-self: stretch;
  height: 576px;
  position: relative;
  border-radius: var(--br-xl);
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.seeing-bali-through1 {
  width: 423px;
  position: relative;
  display: inline-block;
}
.bali-title {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-58xl) 0 var(--padding-57xl);
}
.text-wrapper13,
.text26 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.text26 {
  flex-direction: row;
  padding: 0;
}
.text-wrapper13 {
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
}
.exhibit-22 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-29xl);
  max-width: 100%;
}
.image-4-icon1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.spring-sprang-sprung1 {
  width: 296px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rhyme-title {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.text-wrapper14,
.text27 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.text27 {
  flex-direction: row;
  padding: 0;
}
.text-wrapper14 {
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
}
.exhibit-32,
.rhyme-action {
  display: flex;
  align-items: flex-start;
}
.rhyme-action {
  align-self: stretch;
  height: 42px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
  box-sizing: border-box;
}
.exhibit-32 {
  height: 750px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-29xl);
  max-width: 100%;
}
.image-5-icon1,
.row-12 {
  align-self: stretch;
  max-width: 100%;
}
.row-12 {
  display: grid;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-29xl);
  grid-template-columns: repeat(3, minmax(432px, 1fr));
}
.image-5-icon1 {
  height: 576px;
  position: relative;
  border-radius: var(--br-xl);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.shapeshifters-myth1 {
  width: 551px;
  position: relative;
  display: inline-block;
}
.shapeshifters-myth-magic-of-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-smi) 0 var(--padding-xs);
}
.text-wrapper15,
.text28 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.text28 {
  flex-direction: row;
  padding: 0;
}
.text-wrapper15 {
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
}
.button-wrapper13,
.exhibit-13 {
  display: flex;
  align-items: flex-start;
}
.button-wrapper13 {
  align-self: stretch;
  height: 42px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
  box-sizing: border-box;
}
.exhibit-13 {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-29xl);
  max-width: 100%;
}
.image-6-icon1 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-6-icon1,
.runic-rhyme1 {
  position: relative;
}
.runic-rhyme-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-3xl) 0 var(--padding-xl);
}
.text-wrapper16,
.text29 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.text29 {
  flex-direction: row;
  padding: 0;
}
.text-wrapper16 {
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
}
.button-wrapper14,
.exhibit-23 {
  display: flex;
  align-items: flex-start;
}
.button-wrapper14 {
  align-self: stretch;
  height: 42px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
  box-sizing: border-box;
}
.exhibit-23 {
  height: 750px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-29xl);
  max-width: 100%;
}
.image-7-icon1 {
  align-self: stretch;
  height: 576px;
  border-radius: var(--br-xl);
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.image-7-icon1,
.the-animals-are1 {
  position: relative;
}
.the-animals-are-watching-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-3xl);
}
.view-exhibit{
  position: relative;
  flex-shrink: 0;
  debug_commit: 1de1738;
  white-space: nowrap;
  cursor: pointer;
}
.ybutton{
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  height: 44px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-sm);
}
.ybutton:hover{
  background-color:#ffd147
}
.text-wrapper17,
.text30 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.text30 {
  flex-direction: row;
  padding: 0;
}
.text-wrapper17 {
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
}
.button-wrapper15{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}
.button-wrapper15 {
  align-self: stretch;
  height: 42px;
  justify-content: center;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
}
.exhibit-33 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-29xl);
  max-width: 100%;
}
.exhibit-list,
.other-exhibits1,
.row-22 {
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.row-22 {
  align-self: stretch;
  display: grid;
  flex-direction: row;
  gap: var(--gap-29xl);
  grid-template-columns: repeat(3, minmax(432px, 1fr));
}
.exhibit-list,
.other-exhibits1 {
  display: flex;
}
.other-exhibits1 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-77xl);
  z-index: 1;
}
.exhibit-list {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-29xl);
  padding-top: 100px;
  box-sizing: border-box;
}
.keyboard-arrow-icon3 {
  height: 42px;
  width: 42px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.up-icon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-29xl);
}
.back-to-top3 {
  position: relative;
  font-weight: 500;
}
.button29,
.top-button {
  display: flex;
  align-items: flex-start;
}
.button29 {
  flex-direction: column;
  justify-content: flex-start;
  cursor: pointer;
  z-index: 1;
}
.top-button {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  font-family: var(--font-cormorant-infant);
}
.background5 {
  width: 1920px;
  height: 180px;
  position: relative;
  background-color: var(--color-indigo-100);
  display: none;
  max-width: 100%;
}
.mission2 {
  position: relative;
  display: inline-block;
  min-width: 69px;
  z-index: 1;
}
.contact2 {
  display: inline-block;
  min-width: 71px;
}
.contact2,
.map2,
.our-board-members2 {
  position: relative;
  z-index: 1;
}
.map2 {
  display: inline-block;
  min-width: 40px;
}
.footer-links,
.site-map {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.site-map {
  justify-content: flex-start;
  gap: var(--gap-12xl-3);
}
.footer-links {
  width: 1208px;
  justify-content: center;
  padding: 0 var(--padding-11xs) 0 0;
  box-sizing: border-box;
}
.c3-nonprofit2 {
  position: relative;
  z-index: 1;
}
.bush-street-suite2,
.footer-info {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.bush-street-suite2 {
  width: 580px;
  max-width: 100%;
}
.footer-info {
  width: 140px;
}
.infothinkroundorg2 {
  position: relative;
  white-space: nowrap;
  z-index: 1;
}
.copyright,
.footer2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-28xl-7);
  max-width: 100%;
}
.footer2 {
  align-self: stretch;
  background-color: var(--color-indigo-100);
  flex-direction: column;
  align-items: center;
  padding: var(--padding-35xl) var(--padding-xl) var(--padding-5xl)
    var(--padding-3xl);
  box-sizing: border-box;
  gap: var(--gap-35xl);
  z-index: 1;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-lato);
}
.exhibit-list-parent,
.landing,
.layout {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.exhibit-list-parent {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-77xl);
  flex-shrink: 0;
  debug_commit: 1de1738;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-lato);
}
.landing,
.layout {
  position: relative;
}
.layout {
  height: 1080px;
  flex: 1;
  flex-direction: column;
  padding: 0 0 var(--padding-29xl);
  box-sizing: border-box;
  gap: var(--gap-77xl);
  max-width: 100%;
}
.landing {
  width: 100%;
  /* overflow-y: auto; */
  flex-direction: row;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-31xl);
  color: var(--color-black);
  font-family: var(--font-lato);
}
@media screen and (max-width: 1825px) {
  .header-22 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .category-layout,
  .hindus-sikhs-inner1,
  .sideImage,
  .paintings1,
  .view-all-inner1 {
    flex: 1;
  }
  .row-12,
  .row-22 {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(432px, 749px));
  }
  .layout {
    height: auto;
  }
}
@media screen and (max-width: 1350px) {
  .header-12,
  .header-22 {
    padding-left: var(--padding-10xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
  .header-22 {
    padding-left: var(--padding-5xl);
  }
  .hero-section1 {
    gap: var(--gap-88xl);
  }
  .hero {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
  .category-layout {
    min-width: 100%;
  }
  .hindus-sikhs-inner1,
  .paintings1 {
    min-width: 100%;
  }
  /* .gallery-container {
    padding-bottom: 489px;
  } */
  .exhibit-list,
  .gallery-container {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
  .copyright {
    flex-wrap: wrap;
  }
  .exhibit-list-parent,
  .layout {
    gap: var(--gap-29xl);
  }
  .layout {
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 925px) {
  .discover-other-exhibits1 {
    font-size: var(--font-size-21xl);
  }
  .originally-from-oklahoma-container {
    font-size: var(--font-size-5xl);
    line-height: 40px;
  }
  .heidi-hardin {
    font-size: var(--font-size-31xl);
  }
  .meet-the-artist {
    font-size: var(--font-size-21xl);
  }
  .links {
    flex-wrap: wrap;
    justify-content: center;
  }
  .across-culture-religion-container1{
    font-size: var(--font-size-5xl);
  }
  .the1 {
    font-size: var(--font-size-21xl);
    max-width: 50%;
  }
  .paradise1,
  .project1 {
    font-size: var(--font-size-31xl);
  }
  .paradise-info {
    padding: var(--padding-12xl) var(--padding-54xl) var(--padding-116xl);
    box-sizing: border-box;
  }
  .button-layout,
  .button-layout1 {
    min-width: 100%;
  }
  .enter-paradise1 {
    font-size: var(--font-size-5xl);
  }
  .buttons {
    gap: var(--gap-5xl);
  }
  .hero-section1 {
    gap: var(--gap-35xl);
  }
  .explore5,
  #christians-family-text,
  .presenting-the-families5,
  .view-artist-statement,
  .explore6,
  .presenting-the-families6,
  #jews-family-text,
  .explore7,
  #muslims-family-text,
  .presenting-the-families7,
  .explore8,
  .presenting-the-families8,
  #hindusSikhs-family-text,
  .featuring1,
  .installations1{
    font-size: var(--font-size-5xl);
  }
  .buttons1 {
    gap: var(--gap-6xl);
  }
  .detail-layouts-parent {
    gap: var(--gap-61xl);
  }
  .category-container {
    gap: var(--gap-52xl);
  }

  .buttons2,
  .buttons3 {
    gap: var(--gap-6xl);
  }
  .title-parent {
    gap: var(--gap-52xl);
  }
  .overhaul-box {
    min-width: 100%;
  }
  .title-group {
    gap: var(--gap-52xl);
  }
  .part-iv-family,
  .part-v-first-container{
    font-size: var(--font-size-21xl);
  }
  .buttons4 {
    gap: var(--gap-6xl);
  }
  .title-parent1 {
    gap: var(--gap-52xl);
  }
  .presenting-the-families9,
  #indigenous-family-text {
    font-size: var(--font-size-5xl);
  }
  .title-parent2 {
    gap: 41px;
  }
  .indigenous-coming-soon-inner1 {
    min-width: 100%;
  }
  .view-all-inner1 {
    min-width: 100%;
  }
  .image-layout,
  .muslim-image {
    flex-wrap: wrap;
  }
  .gallery1 {
    gap: var(--gap-5xl);
  }
  .gallery-container {
    /* padding-bottom: 318px; */
    box-sizing: border-box;
  }
  .yosemite-suit1 {
    font-size: var(--font-size-5xl);
  }
  .exhibit-12 {
    gap: var(--gap-5xl);
  }
  .seeing-bali-through1 {
    font-size: var(--font-size-5xl);
  }
  .bali-title {
    padding-left: var(--padding-19xl);
    padding-right: var(--padding-19xl);
    box-sizing: border-box;
  }
  .exhibit-22 {
    gap: var(--gap-5xl);
  }
  .spring-sprang-sprung1 {
    font-size: var(--font-size-5xl);
  }
  .exhibit-32,
  .row-12 {
    gap: var(--gap-5xl);
  }
  .row-12 {
    grid-template-columns: minmax(432px, 1fr);
  }
  .shapeshifters-myth1{
    font-size: var(--font-size-5xl);
  }
  .exhibit-13 {
    gap: var(--gap-5xl);
  }
  .runic-rhyme1 {
    font-size: var(--font-size-5xl);
  }
  .exhibit-23 {
    gap: var(--gap-5xl);
  }
  .the-animals-are1{
    font-size: var(--font-size-5xl);
  }
  .exhibit-33,
  .row-22 {
    gap: var(--gap-5xl);
  }
  .row-22 {
    grid-template-columns: minmax(432px, 1fr);
  }
  .other-exhibits1 {
    gap: var(--gap-29xl);
  }
  .back-to-top3 {
    font-size: var(--font-size-5xl);
  }
  .site-map {
    flex-wrap: wrap;
  }
  .copyright {
    gap: var(--gap-5xl);
  }
  .footer2 {
    gap: var(--gap-8xl);
  }
  .exhibit-list-parent,
  .layout {
    gap: var(--gap-5xl);
  }
}
@media screen and (max-width: 450px) {
  .discover-other-exhibits1 {
    font-size: var(--font-size-11xl);
  }
  .originally-from-oklahoma-container {
    font-size: var(--font-size-lg);
    line-height: 30px;
  }
  .heidi-hardin,
  .meet-the-artist {
    font-size: var(--font-size-11xl);
  }
  .social {
    gap: var(--gap-7xl);
  }
  .search4 {
    gap: var(--gap-97xl);
  }
  .about2,
  .blog2,
  .events2,
  .give-receive-help2,
  .programs2,
  .shop-art2,
  .think-round-fine2,
  .visions2 {
    font-size: var(--font-size-base);
  }
  .across-culture-religion-container1{
    font-size: var(--font-size-lg);
  }
  .paradise1,
  .project1,
  .the1 {
    max-width: 50%;
    font-size: var(--font-size-11xl);
  }
  .paradise-info {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .enter-paradise1 {
    font-size: var(--font-size-lg);
  }
  .hero-section1 {
    gap: var(--gap-8xl);
  }
  #christians-family-text,
  .presenting-the-families5 {
    font-size: var(--font-size-lg);
  }
  .explore5,
  .view-artist-statement {
    font-size: var(--font-size-lg);
  }
  .detail-layouts-parent {
    gap: var(--gap-21xl);
  }
  .category-container {
    gap: var(--gap-17xl);
  }
  .part-ii-families {
    margin: 0;
    width: 919px;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
    flex-shrink: 0;
    debug_commit: 1de1738;
    max-width: 100%;
    font-size: var(--font-size-11xl);
  }
  .explore6,
  .presenting-the-families6,
  #jews-family-text,
  .explore7,
  #muslims-family-text,
  .presenting-the-families7,
  .explore8,
  .presenting-the-families8,
  #hindusSikhs-family-text{
    font-size: var(--font-size-lg);
  }
  .title-parent {
    gap: var(--gap-17xl);
  }
  .title-group {
    gap: var(--gap-17xl);
  }
  .part-iv-family {
    font-size: var(--font-size-11xl);
  }
  .title-parent1 {
    gap: var(--gap-17xl);
  }
  .part-v-first-container {
    font-size: var(--font-size-11xl);
  }
  .presenting-the-families9,
  #indigenous-family-text {
    font-size: var(--font-size-lg);
  }
  .changing-text-indigenous1 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .title-parent2 {
    gap: 21px;
  }
  .featuring1,
  .installations1 {
    font-size: var(--font-size-lg);
  }
  .frame-parent8 {
    gap: var(--gap-52xl);
  }
  .runic-rhyme1,
  .seeing-bali-through1,
  .shapeshifters-myth1,
  .spring-sprang-sprung1,
  .the-animals-are1,
  .view-exhibit,
  .yosemite-suit1 {
    font-size: var(--font-size-lg);
  }
  .other-exhibits1 {
    gap: var(--gap-5xl);
  }
  .back-to-top3 {
    font-size: var(--font-size-lg);
  }
  .contact2,
  .map2,
  .mission2,
  .our-board-members2 {
    font-size: var(--font-size-base);
  }
  .site-map {
    gap: var(--gap-base);
  }
  .bush-street-suite2,
  .c3-nonprofit2,
  .footer-info,
  .infothinkroundorg2 {
    font-size: var(--font-size-base);
  }
}


/* IDAPSVBOX */
  /* TABS */
.tabs {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  /* width: 364.4px; */
  height: 48px;
  /* height: 30.77%; */
  width: 100%;
  right: 0;
  bottom: 69.23%;
  overflow: hidden;
  display: flex;
  z-index: 6;
  }
.tab-child {
  align-items: center;
  justify-content: center;
  /* position: absolute; */
  /* height: 100%;
  width: 100%; */
  margin: 10px;
  top: 0;
  font-size: var(--font-size-5xl);
  left: 0;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
  }
.tab-slice{
  float: left;
  flex: 1;
  top: 0;
  /* width: 364.4px;
  height: 48px; */
  text-align: center;
  justify-content: center;
}
.tab-slice:hover{
  background-color: var(--color-indigo-200);
}
  /*  */
  .body3,
.text-child1,
.text6 {
position: absolute;
width: 100%;
top: 0;
right: 0;
left: 0;
}
.text-child1 {
height: 105.01%;
bottom: -5.01%;
background-color: var(--color-gainsboro);
display: none;
}
.body3,
.text6 {
height: 100%;
bottom: 0;
}
.body3 {
height: 61.48%;
width: 93.64%;
top: 31.59%;
right: 4.99%;
bottom: 6.93%;
left: 1.37%;
}
  .header1 {
    position: absolute;
    height: 24.04%;
    width: 90%;
    top: 0.15%;
    right: 0.05%;
    bottom: 75.81%;
    left: 5%;
    text-align: center;
    color: var(--color-black);
    z-index: 0;
    }
  .title4 {
    position: absolute;
    height: 100%;
    width: 76.22%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 23.78%;
    }
  .text6 {
    height: 100%;
    bottom: 0;
    }
  .text-button {
    position: absolute;
    height: 38.46%;
    width: 86.33%;
    top: 61.54%;
    right: 12.35%;
    bottom: 0;
    left: 1.32%;
    }
  .blurb-subheader {
    /* position: absolute; */
    display: flex;
    flex-direction: row;
    z-index: 5;
  }
  .return {
    position: absolute;
    top: 20%;
    left: 0;
    }
  .sponsors-volunteers {
    position: absolute;
    top: 20%;
    left: 20%;
    font-size: var(--font-size-31xl);
    }
  .blurb-family-title {
    position: absolute;
    top: 20%;
    left: 63.64%;
    }
  .press-release-for-container {
    line-height: 50px;
    ::-webkit-scrollbar {
      width: 20px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey; 
      border-radius: 10px;
    }
   
     &::-webkit-scrollbar-thumb {
      background: red; 
      border-radius: 10px;
   
      ::-webkit-scrollbar-thumb:hover {
        background: #b30000; 
      }
     }
    /* position: absolute; */
    overflow-y: scroll;
    overflow-x: auto;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: inline-block;
    }
    .left-arrow-icon {
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      height: 4vh;
      width: auto;
      position: relative;
      object-fit: contain;
      }






  /*  */
.tab-4-press-releases-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-indigo-200);
  display: none;
}
.view-details-jews {
  width: 100%;
  border-radius: 5px;
  border: 1px dashed #9747ff;
  box-sizing: border-box;
  max-width: 100%;
  /* height: 3365px; */
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-gray-400);
  font-family: var(--font-lato);
  }

.container5{
position: absolute;
height: 100%;
width: 100%;
top: 0;
right: 0;
bottom: 0;
left: 0;
border-radius: var(--br-lgi) var(--br-lgi) 0 0;
background-color: var(--color-gray-200);
display: none;
}

.sponsors-volunteers-box-parent{
  display: flex;
}
.sponsors-volunteers-half{
  text-align: center;
  flex: 1;
}
.partition-parent{
  display: flex;
  width: 100%;
}
.partition-half{
  flex: 50%;
  padding-top: 10vh;
  display: inline-block;
  text-align: left;
}
.partition-two-thirds{
  flex: 66%;
  border: 1px black;
  padding-left: 3vw;
  padding-right: 20px;
}
.partition-third{
  flex: 33%;
  padding-right: 3vw;
  border: 1px red
}
.marginless-line{
  margin: 0;
}
.dot-selector{
  border-radius: 65px;
  margin: 5px;
  width: 65px;
  font-size: 50px;
  height: 65px;
  box-sizing: border-box;
  /* display: inline-block; */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
  float: right;
  cursor: pointer;
}
.dot-selector:hover{
  border: 2px solid;
}
#dot1:hover{
  background-color: #9ecee140;
  border-color: #9ecee1;
}
#dot2:hover{
  border-color: #9747ff;
  background-color: #c8bcd7;
}
#dot3:hover{
  border-color: orange;
  background-color: #eaba8a;
}
#dot4:hover{
  border-color: lightgreen;
  background-color: #7af963;
}
#dot5:hover{
  border-color: red;
  background-color: #e07373;
}