.property-1tab-5-sponsors-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-xl);
    background-color: var(--color-gray-100);
    border: 1px solid var(--color-gray-300);
    box-sizing: border-box;
  }
.container,
.scroll-bar-child {
position: absolute;
height: 100%;
width: 102.71%;
top: 0;
right: -1.35%;
bottom: 0;
left: -1.35%;
background-color: var(--color-mistyrose);
display: none;
}
.scroll-bar-child {
height: 419%;
width: 241.18%;
right: -70.59%;
bottom: -319%;
left: -70.59%;
background-color: var(--color-dimgray);
}
.scroll-bar-item {
position: absolute;
height: 100%;
width: 100%;
top: 0;
right: 0;
bottom: 0;
left: 0;
border-radius: var(--br-xl);
background-color: var(--color-indigo-100);
}
.scroll-bar {
position: absolute;
height: 23.87%;
width: 0.96%;
top: 0;
right: 0.73%;
bottom: 76.13%;
left: 98.31%;
}
.container1,
.master-container,
.text-child {
position: absolute;
top: 0;
left: 0;
background-color: var(--color-gainsboro);
display: none;
}
.text-child {
height: 22.66%;
width: 100%;
right: 0;
bottom: 77.34%;
}
.container1,
.master-container {
width: 1708px;
height: 419px;
}
.container1 {
background-color: var(--color-darkgray);
width: 569px;
}
.column-3,
.container2 {
position: absolute;
top: 0;
left: 1139px;
width: 569px;
height: 1849px;
}
.container2 {
left: 0;
background-color: var(--color-darkgray);
width: 570px;
height: 419px;
display: none;
}
.column-2,
.hideki-uchida-heidis-container {
position: absolute;
top: 0;
width: 570px;
height: 1849px;
}
.hideki-uchida-heidis-container {
left: 0;
line-height: 50px;
display: inline-block;
}
.column-2 {
left: 569px;
}
.blank-line24 {
font-weight: 700;
}
.column-1,
.sponsors-volunteers-text,
.text {
position: absolute;
top: 0;
left: 0;
width: 569px;
height: 1849px;
}
.sponsors-volunteers-text,
.text {
width: 1708px;
}
.text {
height: 441.29%;
width: 96.28%;
right: 3.72%;
bottom: -341.29%;
}
.text-and-scroll-bar-sponsors {
position: absolute;
top: 0;
left: 0;
width: 1774px;
height: 419px;
overflow: hidden;
}
.body,
.container4 {
position: absolute;
height: 64.56%;
width: 97.26%;
top: 31.59%;
right: 1.37%;
bottom: 3.85%;
left: 1.37%;
}
.container4 {
height: 180%;
width: 115.83%;
top: -40%;
right: -14.3%;
bottom: -40%;
left: -1.53%;
background-color: var(--color-silver);
display: none;
}
.title {
position: absolute;
height: 100%;
width: 84.62%;
top: 0;
right: 0;
bottom: 0;
left: 15.38%;
}
.arrow-icon {
width: 42px;
position: relative;
height: 42px;
object-fit: contain;
}
.return {
position: absolute;
top: 0;
left: 0;
}
.text1 {
width: 89px;
position: relative;
height: 36px;
}
.button-return {
position: absolute;
top: calc(50% - 21px);
left: calc(50% - 786.5px);
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 0 var(--padding-sm) 0 0;
z-index: 2;
}
.text-button {
position: absolute;
height: 38.46%;
width: 86.33%;
top: 61.54%;
right: 12.35%;
bottom: 0;
left: 1.32%;
}
.container5{
position: absolute;
height: 100%;
width: 100%;
top: 0;
right: 0;
bottom: 0;
left: 0;
}
.container5 {
border-radius: var(--br-lgi) var(--br-lgi) 0 0;
background-color: var(--color-gray-200);
display: none;
}
.tab-5-sponsors-volunteers-child {
border-radius: 0 var(--br-lgi) 0 0;
background-color: var(--color-indigo-200);
}
.tab-5-sponsors-volunteers-item {
position: absolute;
height: 4.17%;
width: 100%;
top: 95.83%;
right: 0;
bottom: 0;
left: 0;
background-color: var(--color-indigo-100);
display: none;
}
.press-releases,
.tab-4-press-releases-child {
position: absolute;
height: 100%;
width: 100%;
top: 0;
left: 0;
}
.tab-4-press-releases-child {
right: 0;
bottom: 0;
background-color: var(--color-indigo-200);
display: none;
}
.press-releases {
display: flex;
align-items: center;
justify-content: center;
}
.tab-slice{
position: absolute;
width: 364.4px;
height: 48px;
}
.header,
.tab-1-inspiration,
.tabs {
position: absolute;
top: 0;
left: 0;
width: 364.4px;
height: 48px;
}
.header,
.tabs {
height: 30.77%;
width: 100%;
right: 0;
bottom: 69.23%;
}
.header {
height: 24.04%;
width: 99.89%;
top: 0.15%;
right: 0.05%;
bottom: 75.81%;
left: 0.05%;
}
.property-1tab-5-sponsors {
position: absolute;
top: 2696px;
left: 20px;
width: 1824px;
height: 649px;
text-align: center;
color: var(--color-black);
}
.text-item {
position: absolute;
height: 31.06%;
width: 100%;
top: 0;
right: 0;
bottom: 68.94%;
left: 0;
background-color: var(--color-gainsboro);
display: none;
}
.what {
font-family: var(--font-lato);
}
.press-release-for-container {
position: absolute;
height: 100%;
width: 100%;
top: 0;
left: 0;
line-height: 50px;
display: inline-block;
}
.text2 {
position: absolute;
height: 321.96%;
width: 96.28%;
top: 0;
right: 3.72%;
bottom: -221.96%;
left: 0;
}
.part-ii-families1,
.title1 {
position: absolute;
top: 20%;
left: 64.9%;
}
.title1 {
height: 100%;
width: 78.96%;
top: 0;
right: 0;
bottom: 0;
left: 21.04%;
}
.tab-5-sponsors-volunteers-inner {
border-radius: 0 var(--br-lgi) 0 0;
display: none;
}
.tab-4-press-releases-5-ite-child,
.tab-5-sponsors-volunteers-inner {
position: absolute;
height: 100%;
width: 100%;
top: 0;
right: 0;
bottom: 0;
left: 0;
background-color: var(--color-indigo-200);
}
.header1 {
position: absolute;
height: 24.04%;
width: 99.89%;
top: 0.15%;
right: 0.05%;
bottom: 75.81%;
left: 0.05%;
text-align: center;
color: var(--color-black);
}
.property-1tab-4-press-relea {
position: absolute;
top: 2027px;
left: 20px;
width: 1824px;
height: 649px;
}
.text-inner,
.text4 {
position: absolute;
top: 0;
left: 0;
}
.text-inner {
height: 19.05%;
width: 100%;
right: 0;
bottom: 80.95%;
background-color: var(--color-gainsboro);
display: none;
}
.text4 {
height: 524.82%;
width: 96.28%;
right: 3.72%;
bottom: -424.82%;
}
.part-ii-families2,
.title2 {
position: absolute;
top: 20%;
left: 65.48%;
}
.title2 {
height: 100%;
width: 80.29%;
top: 0;
right: 0;
bottom: 0;
left: 19.71%;
}
.container12,
.property-1tab-3-artist-stat {
position: absolute;
top: 1358px;
left: 20px;
width: 1824px;
height: 649px;
}
.container12 {
height: 100%;
width: 106.67%;
top: 0;
right: -5.27%;
bottom: 0;
left: -1.41%;
background-color: var(--color-mistyrose);
display: none;
}
.body3,
.text-child1,
.text6 {
position: absolute;
width: 100%;
top: 0;
right: 0;
left: 0;
}
.text-child1 {
height: 105.01%;
bottom: -5.01%;
background-color: var(--color-gainsboro);
display: none;
}
.body3,
.text6 {
height: 100%;
bottom: 0;
}
.body3 {
height: 61.48%;
width: 93.64%;
top: 31.59%;
right: 4.99%;
bottom: 6.93%;
left: 1.37%;
}
.part-ii-families3,
.title3 {
position: absolute;
top: 20%;
left: 63.76%;
}
.title3 {
height: 100%;
width: 76.48%;
top: 0;
right: 0;
bottom: 0;
left: 23.52%;
}
.property-1tab-2-dedication {
position: absolute;
top: 689px;
left: 20px;
width: 1824px;
height: 649px;
}
.sponsors-volunteers {
  position: absolute;
  top: 20%;
  left: 0;
  font-size: var(--font-size-31xl);
  }
.part-ii-families4 {
  position: absolute;
  top: 20%;
  left: 63.64%;
}
.tab-1-inspiration-5-items-child,
.title4 {
position: absolute;
height: 100%;
width: 76.22%;
top: 0;
right: 0;
bottom: 0;
left: 23.78%;
}
.tab-1-inspiration-5-items-child {
width: 100%;
left: 0;
border-radius: var(--br-lgi) 0 0 0;
background-color: var(--color-indigo-200);
}
.property-1tab-1-inspiration {
position: absolute;
top: 20px;
left: 20px;
width: 1824px;
height: 649px;
}
.view-details-jews {
width: 1864px;
border-radius: 5px;
border: 1px dashed #9747ff;
box-sizing: border-box;
max-width: 100%;
height: 3365px;
overflow: hidden;
text-align: left;
font-size: var(--font-size-11xl);
color: var(--color-gray-400);
font-family: var(--font-lato);
}
